@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/font/hyundaifont.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'MyCustomFont', sans-serif;
  }
  